 div {
   box-sizing: content-box;
   box-sizing: border-box;
 }
 
 html{
     background-color: white;
  }

  body{
     width: 1160px;
     height: 800px;
     margin: 0%;
     background-color: brown;
  }

  figure{
     width: 100px;
     height: 100px;
     object-fit: cover;
     border-radius: 50%;
     box-shadow: 0 0 30px;
  }

 @font-face {
    font-family: "Lato-BlackItalic";
    src: url(../font/Lato-BlackItalic.woff);
    src: url(../font/Lato-BlackItalic.ttf) format("truetype");
 }

 @font-face {
    font-family: "Raleway-VariableFont";
    src: url(../font/Raleway-VariableFont_wght.woff);
    src: url(../font/Raleway-VariableFont_wght.ttf);
 }

 h1,
 h3 {
    font-family: "Lato-BlackItalic";
 }

 .category {
    border: 1px solid beige; padding: 5px;
    background-color: beige;
    width: 210px;
    height: 60px;
 }

 p {
    font: "Raleway-VariableFont";
 }
 
 header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

 .address {
    background-color: black;
    width: 1130px;
    height: 50px;
    padding: 15px;
 }

 .address_link_container {
    background-color: black;
    width: 100x;
 }

 .text-center {
    text-align: center;
 }

 .text-right {
    text-align: right;
 }

 .text-left {
    text-align: left;
 }

footer img {
   width: 50px;
   height: 50px;
   object-fit: cover;
   border-radius: 50%;
}

 figure {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 50%;
   box-shadow: 0 0 30px;
   margin-top: 40px;
   background-color: #e7e7e7;
 }

 figure img {
   width: 120px;
   height: 120px;
   object-fit: cover;
   border-radius: 50%;
 }

 .information_left {
    background-color: brown;
 }

 .information_center {
    background-color: grey;
 }

 .logo_reseaux_sociaux :hover{
    opacity: 0.5;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
 }

 