html{
    background-color: white;
 }

 body{
    width: 800px;
    height: 1160px;
    margin: 0%;
    background-color: brown;
 }

 figure{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px;
 }

 @font-face {
    font-family: "Lato-BlackItalic";
    src: url(../font/Lato-BlackItalic.woff);
    src: url(../font/Lato-BlackItalic.ttf) format("truetype");
 }

 @font-face {
    font-family: "Raleway-VariableFont";
    src: url(../font/Raleway-VariableFont_wght.woff);
    src: url(../font/Raleway-VariableFont_wght.ttf);
 }

 h1,
 h3 {
    font-family: "Lato-BlackItalic";
 }

 .category {
    border: 1px solid beige; padding: 5px;
    background-color: beige;
    width: 210px;
    height: 60px;
 }

 p {
    font: "Raleway-VariableFont";
 }

 p:hover {
    color: red;
 }

 header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
 }

 .address {
    background-color: black;
    width: 770px;
    height: 50px;
    padding: 15px;
 }

 .address_link_container {
    background-color: black;
    width: 100x;
 }

 .text-center {
    text-align: center;
 }

 .text-right {
    text-align: right;
 }

 .text-left {
    text-align: left;
 }

 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
 }

 .information_left {
    background-color: brown;
 }

 footer {
    background-color: brown;
 }

 .information_center {
    background-color: grey;
 }

 .logo_reseaux_sociaux :hover{
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease-in-out;
 }

 a:link {
    color: blue;
 }

 a:hover {
    color: red;
 }